<div class="header-top">
    <div class="container">
      
        <div class="row">
          
            <div class="col-sm-12">
               

                <div class="inner-header">
                   
                    <div class="nav-item">
                        <img src="assets/img/emart.jpg" width="75" height="75">
                        <div class="container">
                          
                            <div class="nav-depart">
                                <div class="depart-btn">
                                    <i class="ti-menu"></i>
                                    <span>All Categories</span>
                                    <ul class="depart-hover">
                                        <li class="active"><a routerLink="/subcategory-womens">Women’s
                                                Clothing</a>
                                        </li>
                                        <li><a routerLink="/subcategory-mens">Men’s Clothing</a></li>
                                        <li><a routerLink="/subcategory-kids">Kid's Clothing</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav-depart">
                                <div class="depart-btn">
                                    <i class="ti-menu"></i>
                                    <span>Login</span>
                                    <ul class="depart-hover">
                                        <li><a routerLink="/sellerlogin">Seller Login</a></li>
                                        <li><a routerLink="/buyerlogin">Buyer Login</a></li>
                                    </ul>
                                </div>
                            </div>
                            <nav class="nav-menu mobile-menu">
                                <ul>
                                    <li class="active"><a routerLink="/home">Home</a></li>
                                    <li><a routerLink="/shop">Products</a></li>
                                    <li><a routerLink="/cart">Add Cart</a></li>
                                </ul>
                            </nav>
                            <div id="mobile-menu-wrap"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>