<footer class="footer-section">
    <div class="container">
        <h1 class="cnt">ContactUs</h1>
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-left">
                    <ul>
                        <li>Address: Alchemy soluction-Bangalore</li>
                        <li>Phone: +9000154808</li>
                        <li>Email: chandrakala.bireddy@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-left">
                    <ul>
                        <li>Address:Alchemy soluction-Bangalore </li>
                        <li>Phone: +7306662927</li>
                        <li>Email: tkyr24898@gmail.com</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="footer-left">
                    <ul>
                        <li>Address: Alchemy soluction-Bangalore</li>
                        <li>Phone: +9121915902</li>
                        <li>Email: RA.SamaDarshini@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-left">
                    <ul>
                        <li>Address:Alchemy soluction-Bangalore</li>
                        <li>Phone: +8074265067</li>
                        <li>Email: meghanadamerla2308@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-reserved">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">

                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights 2020 reserved <i
                            class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                            target="_blank">Emart</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>