<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="sellerProducts">
                <img src="assets\img\blog\seller3.jpg" width="100%" height="50%">
            </div>

            <button type="submit" routerLink="/home" class="site-btn login-btn btn-block">Home</button>



            <button type="Register" routerLink="/sellerproducts" class="site-btn login-btn btn-block">ADD NEW
                PRODUCT</button>
        </div>
    </div>
</div>